body {
  font-size: 100%;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}

p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: #2d2d2d;
}

/* TODO: size images manually so this is not necessary */
img {
  max-width: 100%;
}


/***************** NAV *****************/

nav {
  margin-bottom: 1rem;
}

nav a:hover {
  text-decoration: underline;
}

nav .row {
  text-align: center;
  font-size: 1rem;
  background-color: #4C7EC9;
  color: white;

  padding-top: .5em;
  padding-bottom: .5em;
}

nav .row a {
  color: white;
}

/**************** HERO *****************/

header {
  margin-bottom: 1rem;
}

header img {
  max-width: 5.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  float: left;
}

header h1 {
  font-family: Impact, Charcoal, sans-serif;
  line-height: 3.5rem;
  font-size: 2rem;
  color: #4C7EC9
}

h1 .logo-w {
  font-size: 2.5rem;
}

/**************** ASIDE ****************/

input[type="submit"] {
  padding: .25rem;
  background-color: #3D7FCF;
  border: 1px solid #3D7FCF;
  border-radius: 5px;
  font-size: .75rem;
  color: white;
}

/*********** PRODUCTS SECTION ***********/

.item {
  max-width: 22rem;
  border: 1px solid black;
  padding: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  display: inline-block;
}

section {
  padding: 0 .75rem;
}

h2 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 2rem;
  text-align: center;
  color: #2d2d2d;
}

h3 {
  padding-bottom: 1rem;
  font-size: 1.2rem;
  text-align: center;
  color: #2d2d2d;
}
